/*
Error: Invalid CSS after "sans-serif": expected expression (e.g. 1px, bold), was ";"
        on line 1 of sass.sass

1: $font-stack: sans-serif;
2: $primary-color: #333;
3: 
4: body {
5: 	font: 100% $font-stack;
6: 	color: 30% $primary-color;

Backtrace:
sass.sass:1
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/script/lexer.rb:227:in `expected!'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/script/parser.rb:702:in `assert_done'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/script/parser.rb:64:in `parse'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/script/parser.rb:223:in `parse'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/script.rb:27:in `parse'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:1145:in `parse_script'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:751:in `parse_variable'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:639:in `parse_line'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:533:in `build_tree'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:552:in `block in append_children'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:551:in `each'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:551:in `append_children'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:406:in `_to_tree'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:414:in `run'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
D:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
D:/Ruby22/bin/sass:23:in `load'
D:/Ruby22/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"sans-serif\": expected expression (e.g. 1px, bold), was \";\"\A         on line 1 of sass.sass\A \A 1: $font-stack: sans-serif;\A 2: $primary-color: #333;\A 3: \A 4: body {\A 5: 	font: 100% $font-stack;\A 6: 	color: 30% $primary-color;"; }
